.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  height: 100%;
}
body {
  background-image: linear-gradient(
    to bottom,
    rgb(26, 25, 25),
    rgb(108, 40, 156)
  );
}
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: rgb(163, 147, 192);
}

td {
  /* background-color: rgb(145, 218, 169); */
  background-color: rgb(230, 221, 221);
}

form {
  border: 2px solid black;
  background-color: gray;
  padding: 15px;
  display: flex;
  gap: 15px;
  box-shadow: inset -6px -6px 12px rgba(151, 17, 17, 0.8),
    inset 6px 6px 12px rgba(255, 255, 255, 0.4);
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 15px;
}
.btn {
  border: 2px solid black;
  font-size: 25px;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  background-color: red;
}
.btn:hover {
  background-color: white;
  color: blue;
}
.head {
  font-size: 25px;
  color: blue;
}
.hed {
  font-size: 25px;
  color: red;
  margin-left: 40%;
}
.sort {
  color: white;
  background-color: blue;
}
.btn1 {
  color: white;
  background-color: red;
  margin: 5px;
}
.btn2 {
  color: white;
  background-color: blue;
  margin: 5px;
}
.btn2:hover {
  background-color: azure;
  color: blue;
}
.fo {
  padding: 15px;
  border-radius: 3px solid black;
  font-size: 20px;
  width: 100%;
}
.hey {
  color: white;
}
.pagination {
  display: flex;
  padding: 5px;
  font-weight: bold;
  font-size: 25px;
}
.paginationlink {
  padding: 15px;
  border-radius: 2px solid blue;
}
.paginationlink:hover {
  background-color: blue;
  color: antiquewhite;
}
/* @media only screen and (max-width: 760px),
  (max-device-width: 768px) and (max-device-width: 1024px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  td {
    position: relative;
    padding-left: 50%;
  }
  td::before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
} */
